/* Variabes */
/* Mixin's */
body {
  background: #a5cce6;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}
.wrapper {
  width: 800px;
  margin: 30px auto;
  color: #fff;
  text-align: center;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 70;
  font-size: 2em;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 50;
  font-size: 1.5em;
}

#seconds, #tens {
  font-size: 2em;
}
button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background: #c9c7c2;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #5f81cf;
}
.student {
  text-align-last: left;
}

.todolist-container {
  border-radius: 20px;
  padding: 3em 2em;
  border: solid 1px ;
}

.todolist {
  margin: 0em 9em;
}

.todolist-item {
  text-align: left;
}